html{
    font-size: 10px;
}

.dashboard-mainContainer{
    background-color: #171717;
}

.dashboard-container{
    background-color: #171717;
}

.AppBar-top{
    background-color: #171717;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #ffffff;
}

.Toolbar-top{
    background-color: #171717;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #ffffff;
}

.Typography-logo{
    padding: 1.5rem 0;
    font-size: 2rem;
    font-weight: 100;
}